worker_processes 1;

events {
    worker_connections 1024;
}

http {
    upstream proxy {
        server ${SERVER_HOST}:${SERVER_PORT};
    }

    types {
        text/html;
    }

    resolver ${NAMESERVER};

    server {
        listen 8080;
        server_name variable-request-reverse-proxy;
        charset ${CHARSET};

        proxy_set_header    Host                   $proxy_host;
        proxy_set_header    X-Real-IP              $remote_addr;
        proxy_set_header    X-Forwarded-Host       $host;
        proxy_set_header    X-Forwarded-Server     $host;
        proxy_set_header    X-Forwarded-For        $proxy_add_x_forwarded_for;

        proxy_connect_timeout       3600;
        proxy_send_timeout          3600;
        proxy_read_timeout          3600;
        send_timeout                3600;

        location /reverse_proxy {
            internal;
            proxy_pass $url;
        }

        location ~ ^/get/([a-zA-Z0-9.-_]+)/(.+) {
            more_set_headers    "Content-Type: text/html";
            more_set_headers    "Content-Encoding: gzip";

            set $domain $1;
            set $path $2;
            set $url '';

            access_by_lua '
                local protocol = "https"
                ngx.var.url = protocol .. "://" .. ngx.var.domain .. "/" .. ngx.var.path
                local res = ngx.location.capture_multi {
                    {"/reverse_proxy", {method = ngx.HTTP_GET, share_all_vars = true}}
                }
                ngx.print(res.body)
            ';
        }
    }
}